{% extends 'base.html' %}

{% block title %}Blog {{ blog.user }}{% endblock %}

{% block content %}
    <div class="container text-center">
        <h3>Welcome to {{ blog.user }}'s blog</h3>
        <h5>Number of follower: {{ blog.followers.count }}</h5>
        {% if user not in blog.followers.all %}
        <a href="{% url 'follow' blog.pk %}"><button>Follow</button></a>
        {% else %}
        <a href="{% url 'unfollow' blog.pk %}"><button>Unfollow</button></a>
        {% endif %}
    </div>

    <div class="container">
        <h4 class="text-center">Last posts:</h4>
    </div>
    {% for post in posts %}
        <div class="container mt-3" style="border: 1px solid #00612f; border-radius: 10px;">
            <h6 class="text-right">From {{ post.blog }}</h6>
            <a href="{% url 'post_detail' post.pk %}"><h3>{{ post.title }}</h3></a>
            <h5>{{ post.body }}</h5>
            <h6>{{ post.updated_at }}</h6>
        </div>
    {% endfor %}

    {% if is_paginated %}
  <ul class="pagination">
    {% if page_obj.has_previous %}
      <li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
{% endblock %}
