{% extends 'base.html' %}

{% block title %}NewsLine{% endblock %}

{% block content %}
    {% for post in posts %}
        <div class="container mt-3" style="border: 1px solid #00612f; border-radius: 10px;">
                    <a href="{% url 'blogs_detail' post.blog.pk %}"><h4 class="text-center">From {{ post.blog }}</h4></a>

            <a href="{% url 'post_detail' post.pk %}"><h3>{{ post.title }}</h3></a>
            <h5>{{ post.body }}</h5>
            <h6>{{ post.updated_at }}</h6>
            {% if user in post.read_by.all %}
                <h6>Status: <strong>Read</strong></h6>
                <h6 class="mt-4"><a href="{% url 'post_unread' post.pk %}"><button>Mark as unread!</button></a></h6>
            {% else %}
                <h6>Status: <strong>Unread</strong></h6>
                <h6 class="mt-4"><a href="{% url 'post_read' post.pk %}"><button>Mark as read!</button></a></h6>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}